@media (min-width: 700px) {    
    nav {
        display: block;
        width: 100%;
    }

    .hamburger-icon {
        display: none;
    }

    .fa-circle-arrow-left {
        display: none;
    }

    nav a {
        display: inline-block;
    }

    nav a:hover {
        text-decoration: underline;
    }

    .explore-btn {
        justify-content: center;
    }
    

    .sales-container img {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 30vh;
    }

    .front-page-text {
        max-width: 1000px;
        margin: 50px auto;
    }

    .first-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 50px auto;
        max-width: 1000px;
    }
    
    .first-row img {
        height: 200px;
        width: auto;
        border: 1px solid black;
       
    }

    .second-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 50px auto;
        max-width: 1000px;
    }
    
    .second-row img {
        height: 200px;
        width: auto;
        border: 1px solid black;
        
    }

    .top-left {
        position: absolute;
        top: 8px;
        left: 150px;
        font-size: 1.3rem;
        color: black;
    }

    .logo {
        max-width: 400px;
        padding: 0px 50px 0px 50px;
    }

    .your-product-detail {
        
    }

    .product-detail-container {
        max-width: 1000px;
    }

   .product-detail img {
        max-width: 700px;
        padding-top: 15px;
    }
    
    .product-detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
        padding: 20px;
    }
    
    .product-detail-product {
        width: 700px;
        display: flex;
        align-items: center;
    }
    
    .product-detail-product img {
        border-radius: 10px;
    }

    .product-info p {
        font-size: medium;
    }

    .cart-product img {
        width: 100px;
    }
    
    .quantity {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .quantity-btn {
        background: black;
        color: #ffffff;
        padding: 5px 10px;
        cursor: pointer;
    }
    
    .apply-btn,
    .checkout-btn {
        background: var(--foundation-color);
        color: #ffffff;
        padding: 8px;
        width: 100px;
        cursor: pointer;
        margin-top: 5px;
    }

    .checkout-items {
        background-color: #D9D9D9;
        max-width: 300px;
        border-radius: 10px;
    }

    .checkout-info {
        font-weight: 500;
    }

    .checkout-container {
        display: flex;
        margin: auto;
        justify-content: space-evenly;
    }

    .log-in {
        display: block;
        padding: 2px;
    }

    .log-in p {
        padding-bottom: 4px;
    }

    .reviews{
        background: var(--foundation-color);
        margin: 10px auto;
        padding-bottom: 5px;
        color: #ffffff;
    }

    .reviews p {
        margin: 2px;
    }

    .newsletter-logo {
        right: 40vw;
        width: 75px;
        
    }
}