.product-background-image {
    background-image: url("../images/2.jpg");
    display: block;
    height: 300px;
    width: 80%;
    background-size: cover;
    background-position: center;
    margin-inline: auto;
    background-repeat: no-repeat;
}

.product-background-text {
    background-color: black;
    color: var(--font-color);
    width: 240px;
}
.product-background-text h1 {
    padding: 0;
}

.text-container {
    position: relative;
    text-align: center;
}

.explore-img {
    background-image: url(../images/6.1.jpg);
    display: block;
    height: 300px;
    width: 80%;
    background-size: cover;
    background-position: center 25%;
    margin-inline: auto;
    background-repeat: no-repeat;
}

.explore-img-text {
    background-color: black;
    color: #fff;
    width: 225px;
}

.do-not-miss-box img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    height: 75px;
}

.do-not-miss-box {
    width: 350px;
    border-radius: 8px;
    background: #d3d3d3;
    padding: 15px;
    margin: var(--auto-center);
}

.box-jackets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.box-jackets p {
    font-size: small;
}
