.product-background-image {
  background-image: url("../images/2.jpg");
  display: block;
  height: 300px;
  width: 80%;
  background-size: cover;
  background-position: center;
  margin-inline: auto;
  background-repeat: no-repeat;
}

.product-background-text {
  background-color: black;
  color: #fff;
  width: 225px;
}

.text-container {
  position: relative;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 18px;
  left: 10%;
  font-size: 1.3rem;
  color: black;
}

.explore-img {
  background-image: url(../images/6.1.jpg);
  display: block;
  height: 300px;
  width: 80%;
  background-size: cover;
  background-position: center 25%;
  margin-inline: auto;
  background-repeat: no-repeat;
}

.explore-img-text {
  background-color: black;
  color: #fff;
  width: 225px;
}

.do-not-miss-box img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
  height: 75px;
  width: auto;
}

.footer {
  color: white;
}

/* Container to arrange footer content */
.footer-container {
  align-items: center;
  padding: 20px;
  background-color: var(--foundation-color);
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.footer-section p {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Newsletter Section */
/* .newsletter {
    background: white;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    color: black;
}

.newsletter p {
    margin: 0 0 10px;
    font-size: 14px;
}

.newsletter-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.newsletter-form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.newsletter-form button {
    background-color: #1c6b7d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.newsletter-form button:hover {
    background-color: #15535f;
} */

/* Footer Bottom Section */
.footer-bottom {
  background-color: var(--foundation-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.social-icons a i {
  width: 20px;
  padding-right: 10px;
}

.social-icons a:hover i {
  opacity: 0.7;
}
