@import "imports/links.css";
@import "imports/variable.css";

@font-face {
  font-family: "Oswald";
  src: url(/Oswald/Oswald-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  display: flex;
  position: relative;
  width: 100%;
  background-color: var(--foundation-color);
  height: 60px;
}
.header {
  max-width: 1200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  max-width: 1200px;
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

nav {
  z-index: 1000;
}
.front-page-container {
  display: grid;
  justify-content: center;
}
.front-page {
  justify-content: center;
  text-align: center;
}

.logo {
  max-width: 50vw;
  margin-inline: auto;
  margin-top: 10px;
  display: block;
}

.intro-image {
  max-width: fit-content;
  margin-inline: auto;
  display: block;
  min-width: 100px;
  padding-top: 30px;
}

nav,
.header #menu-checkbox {
  background-color: #125e71;
  font-size: 1.5rem;
  display: none;
}

nav a {
  color: #ffffff;
  background-color: #125e71;
  display: block;
  justify-content: left;
  padding: 15px;
  font-size: 1rem;
  text-decoration: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

h1 {
  padding: 10px;
}

.divider {
  border: 3px solid var(--foundation-color);
  border-radius: 30px;
  margin: 1rem 0rem 1rem 0rem;
  overflow: hidden;
}

.overhead-text {
  display: flex;
  justify-content: center;
}

.color1 {
  margin: 0.1rem;
  background: rgb(160, 0, 0);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
}

.color2 {
  margin: 0.1rem;
  background: rgb(0, 0, 153);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
}

.color3 {
  margin: 0.1rem;
  background: rgb(5, 133, 1);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
}

/* footer {
    background-color: var(--foundation-color);
    left: 0;
    bottom: 0;
    height: 50px;
    max-width: fit-screen;
    height: auto;
    color: #ffffff;
    font-size: small;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

.left-side-footer {
    display: flex;
    flex-direction: column;
    float: left;
    padding-left: .5rem;
}

.right-footer {
    display: flex;
    flex-direction: column;
    float: right;
    padding-right: .5rem;
} */

.newsletter-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 1000;
}
.newsletter {
  background-color: var(--foundation-color);
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  width: calc(100% - 40px);
  max-width: 400px;
  margin: 50px auto;
}
.newsletter button {
  cursor: pointer;
  width: 150px;
}

#newsletter-mail {
  height: 20px;
  display: inline-block;
}

.copyright {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.first-row,
.second-row {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: auto;
  padding: 10px 20px;
  font-size: small;
}

.first-row img {
  height: 125px;
  width: 100px;
  border: 1px solid black;
}
.first-row-text,
.second-row-text {
  margin: 10px;
}

.second-row img {
  height: 125px;
  width: 100px;
  border: 1px solid black;
}

.colors {
  display: flex;
}

.sales-card-container {
  background-color: var(--foundation-color);
  margin: 20px;
  padding: 20px;
  width: 120px;
}

.sales-container {
  position: relative;
  text-align: center;
  color: #ffffff;
  margin: 2vw;
}

.sales-photo {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
  padding: 0px 20px;
}

.sales-text {
  position: absolute;
  top: 8px;
  left: 20px;
}

.fa-arrow-left {
  padding: 15px;
}
.arrow i {
  color: #000;
}

.back-arrow a {
  margin-bottom: 15px;
  text-decoration: none;
  color: #000;
  font-size: 3vw;
}

.cart-container {
  background: #d3d3d3;
  border-radius: 8px;
  margin: 15px;
  padding: 15px;
}

.cart {
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.cart-product {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-product img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

.product-detail img {
  width: 100%;
}

.product.info {
  text-align: left;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-btn {
  background: black;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}

.summary {
  padding: 15px;
  max-width: 200px;
}

.summary p {
  font-size: 18px;
  font-weight: bold;
}

.summary input {
  max-width: fit-content;
  padding: 5px;
  margin: 0;
}

.apply-btn,
.checkout-btn {
  background: var(--foundation-color);
  color: #ffffff;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  margin-top: 5px;
  border: none;
}

.temporary-page-background {
  background-image: url(../images/7.jpg);
  color: #ffffff;
  width: 100%;
  object-fit: contain no-repeat;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}
.temporary-text-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.temporary-page-background h1 {
  padding-top: 20vh;
  text-align: center;
}
.temporary-page-background p {
  width: 600px;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 20px;
}

.confirmation-page {
  background-image: url(../images/pexels-rachel-claire-4993108-edited.jpg);
  opacity: 40%;
  background-position: center;
}

.social-icons a {
  text-decoration: none;
  color: #ffffff;
}

.do-not-miss-box {
  text-align: center;
  border-radius: 8px;
  background: #d3d3d3;
  margin: 15px;
  padding: 15px;
}
.do-not-miss-box h3 {
  margin-bottom: 15px;
  text-decoration: underline;
}

.box-jackets {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 15px;
}
